body{
	background: url("/images/black-background.png")
}
h1,h2 {
    font-family: 'Roboto';
    text-align: right;
    color: rgb(223, 20, 20);
    margin: 15%
}

strong {
    font-family: 'Caveat';
}

em {
    color: rgb(70, 195, 74);
    font-style: italic;
    border-radius: 10px;
    padding: 0
}
.wrapper {
    background:rgba(245, 245, 245, 0.514)
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}