body{
	background-color: black;
	color: white;
}
h1,h2{
	color: red;
	text-align: right;
}
p{
	text-align: right;
}
strong {
    font-family: 'Caveat';
}
em{
	color: green;
}
.wrapper {
	max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }